.logo
-# %header{ :'parallax-background' => 'parallax-background', :'parallax-ratio' => '-0.2' }
-#   %h2.text-center
-#     Header
-#   %a{ :'type' => 'button', :'ng-click' => 'open()' }
-#     modal