%header
  .logo.center-block
  .title.text-center
    %h1 Gorila
    %h2 Mecánica Automotriz
    %h3 +56 9 9087 6979
-# %header{ :'parallax-background' => 'parallax-background', :'parallax-ratio' => '-0.2' }
-#   %h2.text-center
-#     Header
-#   %a{ :'type' => 'button', :'ng-click' => 'open()' }
-#     modal