---
title: The title
---
%script#modalTemplate{ :'type' => 'text/ng-template' }
  = partial 'modal/modal'
-# = partial 'partial/nav'
= partial 'partial/header'
-# = partial 'partial/map'
-# = partial 'partial/contact'
-# = partial 'partial/footer'