.modal-content
  .modal-header
    %button.close{ :'aria-hidden' => 'true', 'ng-click' => 'cancel()', :type => 'button' }
      %i.fa.fa-close
    %h4.modal-title.text-center
      Modal
  .modal-body